.header-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FAFAFA;
    width: 100vw;
    padding: 32px 16px;

    &__logo {
        height: 24px;
        display: flex;
        z-index: 10000;


    }

    &__navbar {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    &__link {}

    &__icon {

        &--back {
            height: 24px;
            width: 24px;
        }

        &--accessibility {
            height: 40px;
            width: 40px;
        }
    }
}