@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.chip-carousel {
  display: flex;
  overflow-x: auto;
  cursor: grab;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.chip-carousel::-webkit-scrollbar {
  display: none;
}
