@use "./mixins" as *;
@use "./variables" as *;
@use "./font-face" as *;

a,
button {
  all: unset;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body,
input,
textarea,
*,
*::placeholder {
  font-family: "SF Pro Display", sans-serif;
  letter-spacing: -3;
}

li {
  list-style: none;
}

textarea {
  resize: none;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

h4 {
  font-size: 14px;
  font-weight: bold;
}

p {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
}