// App colors

$lush-primary: #FFC4F3;

$lush-secondary: #FFE8FA;

$lush-buttons: #000000;

$lush-accent-pink: #ED81DD;

$lush-accent-blue: #21ADD3;

$lush-misc-dark: #ED81DD;

$lush-misc-light: #FFF3FD;

$lush-gradient: linear-gradient(to bottom right, #FFF4FD, #FFB6EF);

// Misc

$navbar-offset: 82px;