@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.category {
  @include axial-padding(x, 12px, 12px);
  width: 390px;
  height: 80vh;
  margin-bottom: $navbar-offset;
  display: flex;
  flex-direction: column;
  margin-top: 80px;

  &__searchbar {
    all: unset;
    width: 281px;
    max-width: 281px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding: 4px 0;

    &::placeholder {
      color: black;
    }
  }

  .item-tile-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 12px;
    width: 100%;
    height: auto;
    visibility: visible;
    gap: 20px;
    margin-top: 16px;
  }
}

.button-icon--accessibility {
  all: unset;
  //   margin-left: 20rem;
  position: absolute;
  top: calc(50% - 360px);
  left: calc(50% + 139px);
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.chips {
  display: flex;

  height: 32px;
  // padding: 10px;
  border-radius: 100px;
  // border: 1px solid #bfbfbf;
  margin-right: 10px;
  margin-top: 1rem;
  white-space: nowrap;
  font-family: "SF Pro Display";
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: -0.03em;
  color: black;
  vertical-align: middle;

  &__1 {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    border: 1px solid silver;
    padding: 5px;
    align-items: center;
    justify-content: center;
    margin-right: 0.3rem;

    &--display {
      position: relative;
      letter-spacing: -0.03em;
    }
  }
}
.categoryfeed--inner {
  position: absolute;
  top: 12rem;
  width: 25rem;
  height: 38rem;
  overflow-y: auto;
  text-align: center;
}

.selection-field {
  position: absolute;
  bottom: 0;
  left: calc(50% - 85.5px);
  border-radius: 0 0 13px 13px;
  background-color: $lush-secondary;
  width: 10.69rem;
  height: 2.13rem;
}
.item-name {
  position: absolute;
  bottom: 0.69rem;
  left: calc(50% - 78.84px);
  letter-spacing: -0.03em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 0.81rem;
}
.categoryfeed__component {
  position: relative;
  border-radius: 15px;
  width: 10.69rem;
  height: 13rem;
  overflow: hidden;
  flex-shrink: 0;
  background-image: url(../../assets/Category1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

  &--parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 22.38rem;
    display: flex;
    flex-direction: row;
    padding-bottom: 82px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }
}
.categoryfeed__component1,
.categoryfeed__component2,
.categoryfeed__component3,
.categoryfeed__component4,
.categoryfeed__component5,
.categoryfeed__component6,
.categoryfeed__component7 {
  position: relative;
  border-radius: var(--br-mini);
  width: 10.69rem;
  height: 13rem;
  overflow: hidden;
  flex-shrink: 0;
  background-image: url(../../assets/Category2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.categoryfeed__component2,
.categoryfeed__component3,
.categoryfeed__component4,
.categoryfeed__component5,
.categoryfeed__component6,
.categoryfeed__component7 {
  background-image: url(../../assets/Category3.jpg);
}
.categoryfeed__component3,
.categoryfeed__component4,
.categoryfeed__component5,
.categoryfeed__component6,
.categoryfeed__component7 {
  background-image: url(../../assets/Category4.jpg);
}
.categoryfeed__component4,
.categoryfeed__component5,
.categoryfeed__component6,
.categoryfeed__component7 {
  background-image: url(../../assets/Category5.jpg);
}
.categoryfeed__component5,
.categoryfeed__component6,
.categoryfeed__component7 {
  background-image: url(../../assets/Category6.jpg);
}
.categoryfeed__component6,
.categoryfeed__component7 {
  background-image: url(../../assets/Category7.jpg);
}
.categoryfeed__component7 {
  background-image: url(../../assets/Category8.jpg);
}
.frame-child {
  position: relative;
  background-color: rgba(255, 255, 255, 0.01);
  width: 22.38rem;
  height: 0.06rem;
}

.protoci-category-feed {
  position: relative;
  background-color: #fafafa;
  width: 100%;
  height: 52.75rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--tile-text-size);
  color: var(--color-black);
}
