@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.item-tile {
  // border: 2px solid black;
  border-radius: 12px;
  color: black;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #e9ecf2;
  overflow: hidden;
  box-shadow: $drop-shadow;

  &--small {
    width: 136px;
    height: 166px;
    border-radius: 12px;
    @include typekit(h4);
    font-size: 14px !important;
    font-weight: 700 !important;
    letter-spacing: $lush-letter-spacing !important;
  }

  &--large {
    width: 171px;
    height: 208px;
    border-radius: 15px;
    @include typekit(h3);
    font-size: 18px !important;
    font-weight: 700 !important;
    letter-spacing: $lush-letter-spacing !important;
  }

  &__total-cart-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 0;
    left: 0;

    &--small {
      top: 8px;
      padding: 0 8px;
    }

    &--large {
      top: 12px;
      padding: 0 12px;
    }
  }

  &__total-price {
    color: black;

    &--small {
      @include typekit(h4);
      font-size: 14px !important;
      font-weight: 700 !important;
      letter-spacing: $lush-letter-spacing !important;
    }

    &--large {
      @include typekit(h3);
      font-size: 18px !important;
      font-weight: 700 !important;
      letter-spacing: $lush-letter-spacing !important;
    }
  }

  .cart-btn {
    display: inline-flex;
    flex-direction: row;
    // justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border: none;
    padding: 0;
    transition: width 0.3s ease-out;

    &--small {
      @include typekit(h4);
      font-size: 14px !important;
      font-weight: 700 !important;
      letter-spacing: $lush-letter-spacing !important;
      height: 38px;
      max-height: 38px;
      width: 38px;
      min-width: 38px;
      border-radius: 19px;

      &.width-mid {
        width: calc(38px * 1.5789);
      }
      &.width-max {
        width: calc(38px * 1.7632);
      }
    }

    &--large {
      height: 48px;
      max-height: 48px;
      width: 48px;
      min-width: 48px;
      border-radius: 24px;

      &.width-mid {
        width: calc(48px * 1.4);
      }
      &.width-max {
        width: calc(48px * 1.6);
      }
    }

    &--online {
      background-color: $lush-accent-blue;
    }

    &__count {
      padding-left: 12px;
      // padding-right: 12px;

      &--small {
        @include typekit(h4);
        font-size: 14px !important;
        font-weight: 700 !important;
        letter-spacing: $lush-letter-spacing !important;
      }

      &--large {
        @include typekit(h3);
        font-size: 18px !important;
        font-weight: 700 !important;
        letter-spacing: $lush-letter-spacing !important;
      }
    }

    &__cart-icon {
      fill: white;

      &--small {
        min-height: 18px;
        min-width: 18px;
        max-height: 18px;
        max-width: 18px;
      }

      &--large {
        min-height: 22px;
        min-width: 22px;
        max-height: 22px;
        max-width: 22px;
      }
    }
  }

  &__product-image {
    object-fit: cover;
    object-position: center;
    background-color: #e9ecf2;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  &__counter-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffe8fa;
    width: 100%;
    position: absolute;
    transition: transform 0.3s ease-in-out;

    &--small {
      height: 66px;
      width: 132px;
      top: 138px;
    }

    &--large {
      height: 82.5px;
      width: 171px;
      top: 176px;
    }
  }

  &:hover &__counter-wrapper--small {
    transform: translateY(-38px);
  }

  &:hover &__counter-wrapper--large {
    transform: translateY(-46px);
  }

  &__item-name {
    color: black;
    text-align: center;
    margin: 0;

    &--small {
      @include typekit(h4);
      font-size: 14px !important;
      font-weight: 700 !important;
      letter-spacing: $lush-letter-spacing !important;
      width: 132px;
      @include axial-padding(y, 4px, 0);
    }

    &--large {
      @include typekit(h3);
      font-size: 18px !important;
      font-weight: 700 !important;
      letter-spacing: $lush-letter-spacing !important;

      @include axial-padding(y, 8px, 0);
      width: 171px;
    }
  }

  &__btns-wrapper {
    display: flex;
    justify-content: space-between;
    // width: 100%;

    &--small {
      padding: 0 8px;
      width: 132px;
    }

    &--large {
      padding: 0 12px 8px 12px;
      width: 171px;
    }
  }

  .increase-btn {
    background-color: black;
    padding: 0;

    &--small {
      height: 27px;
      width: 50px;
      border-radius: 4.5px;
      border: 2px solid black;
    }

    &--large {
      height: 34px;
      width: 63px;
      border-radius: 5.5px;
      border: 2.5px solid black;
    }

    &--max {
      background-color: #cccccc;

      &.increase-btn--small {
        border: 2px solid #cccccc !important;
      }

      &.increase-btn--large {
        border: 2.5px solid #cccccc !important;
      }
    }

    &__increase-icon {
      fill: white;

      &--small {
        height: 25px;
      }

      &--large {
        height: 32px;
      }
    }
  }

  .decrease-btn {
    background-color: white;
    padding: 0;

    &--small {
      height: 27px;
      width: 50px;
      border-radius: 4.5px;
      border: 2px solid black;
    }

    &--large {
      height: 34px;
      width: 63px;
      border-radius: 5.5px;
      border: 2.5px solid black;
    }

    &__decrease-icon {
      fill: black;

      &--small {
        height: 25px;
      }

      &--large {
        height: 32px;
      }
    }
  }
}
