@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.categorized-items {
  @include axial-padding(x, 12px, 12px);
  width: 390px;
  // margin-bottom: $navbar-offset;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 0;

  &__back-accessibility-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__back-btn,
  &__accessibility-btn {
    all: unset;
  }

  &__back-btn {
    position: relative;
    left: -6px;
  }

  &__searchbar {
    all: unset;
    width: 281px;
    max-width: 281px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding: 4px 0;

    &::placeholder {
      color: black;
    }
  }

  &__heading {
    text-align: left;
    margin: 16px 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: $lush-letter-spacing;
    text-align: left;
  }

  .item-tile-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 92px;
    width: 100%;
    height: auto;
    visibility: visible;
    gap: 20px;
    margin-top: 16px;
  }
}
