@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.chip {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  padding: 10px;
  border-radius: 100px;
  border: 1px solid #bfbfbf;
  margin-right: 10px;
  white-space: nowrap;
  
  &__label {
    font-family: "SF Pro Display";
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: -0.03em;
    color: black;
  }
}
